.login-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
}

.login-btn:hover {
    background-color: #0056b3;
}

.container {
    padding: 20px;
}

body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background-color: #0e0e0e;
    color: #f1f1f1;
}


.logo a {
    color: #00ffb3;
    font-size: 1.5em;
    text-decoration: none;
}

.nav-list {
    list-style: none;
    display: flex;
    gap: 1em;
}

.nav-list a {
    color: #f1f1f1;
    text-decoration: none;
}

.hero {
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #0000005b;
}

.hero-content h1 {
    font-size: 3em;
    color: #00ffb3;
}

.btn {
    display: inline-block;
    margin-top: 1em;
    padding: 10px 20px;
    background: #00ffb3;
    color: #0e0e0e;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.section {
    padding: 40px 20px;
    text-align: center;
}

.link-buttons {
    display: flex;
    justify-content: center;
    gap: 1em;
    flex-wrap: wrap;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.admin_button{
    background-color: #064431;
    border-radius: 15px;
    margin-top: 20px;
    width: 250px;

}

.main-container {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    background: url('/SEM OBRÁZEK NA HLAVNÍ STRÁNKY DO POZADI') no-repeat center center/cover;
}

.main-container-profile{
    min-height: 100%;
    height : 750px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #0000005b;
}

.main-content {
    flex: 1;
    padding: 40px;
    padding-bottom: 50px; 
}

#img_profile{
    width: 100%;
    height: 100%;
}

.contr_png{
    height: 350px;
    width: 350px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: auto; 
    width: auto;

}

.admin-panel-container {
    max-width: 900px;
    margin: 30px auto;
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.profile-main{
    background: url('/SEM OBRAZEK NA UZIVATELE DO POZADI') no-repeat center center/cover;
}


@media (max-width: 768px) {
    .hero-content h1 {
        font-size: 2em;
    }

    .nav-list {
        display: none;
    }

    .nav-list.active {
        display: block;
    }
}
